.title {
    color: green;
}
iframe.menu {
    width: 100%;
    height: 180px;
    border: none
}
.memu{
    display: flex;
    justify-content:space-around;
    
}
a.menu{
    color: aqua
    
}

.mainDiv{
    display: grid;
    place-items:center;
    width: 95%;
    margin: 0 auto;
}

.mainDiv h2{
    padding: 1px 2em;
    background-color: #e7e7e7;
}
